.email{
    height: 50px;
    width: 450px;
    border: 1px solid #475D4B;
    margin: auto;
    margin-top: 45px;
    color: #475D4B;
    /* padding: 0 0 0 10px; */
}
.email:hover{
   
    border: 2px solid #475D4B;
}
.pass{
    height: 50px;
    width: 450px;
    border: 1px solid #475D4B;
    margin: auto;
    margin-top: 20px;
    color: #475D4B;
}
.pass:hover{
    
    border: 2px solid #475D4B;
}
.forget{
   margin-right: 300px;
}
.signbtn{
    height: 45px;
    width: 250px;
    
    margin-top: 50px;
    border-radius: 10px;
    background-color:#475D4B;
    color: white; 
    
}
.name{
    height: 100%;
    width: 100%;
   
}
.logos{
    height: 135px;
    width: 450px;
    margin: auto;
    
    display: none;
    gap: 10px;
}
.logobox{
    height: 135px;
    width: 150px;
    
    
}
.logoimg{
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #475D4B ;
}


@media all and (max-width: 768px) {
    .email, .pass {
        width: 100%; /* Make the input fields take up the full width on small screens */
        margin: 10px auto; /* Add spacing around the input fields */
    }

    .logos {
        display: none; /* Hide the logos on small screens */
    }

    .signbtn {
        width: 100%; /* Make the button take up the full width on small screens */
    }
}