.loginlogo{
    height: 24px;
    width: 24px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}
.loginlogo:hover{
    cursor: pointer;
}
.searchlogo{
    height: 24px;
    width: 24px; 
    border: 0.5px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.bagbtn{
    
        height: 24px;
        width: 24px; 
        border: 0.5px solid black;
        margin-top: 10px;
        border-radius: 5px;
    }
    

.navbox{
    display: flex;
    gap: 10px;

}
.navbox:hover{
    cursor: pointer;
}
.bath{
    font-size: 25px;
    border-bottom: 1px solid #475D4B;
}
.menu{
    background-color: #e4efda;
    
}
.img{
    height: 150px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* margin-left: 30px; */
}
.cimg{
    height: 150px;
    width: 200px;
}
.mainbox{
    display: flex;
    gap: 10px;
}
.cbox{
    height: 100%;
    width: 100%;
}
.cprice{
height: 50px;
/* width: 250px; */
/* border: 1px solid red; */
display: flex;
gap: 30px;
color: #475D4B;
/* justify-content: space-between; */

}
.container{
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
margin-bottom: 20px;
}
.cbutton{
    display: flex;
   
   
}
.del{
    margin-left: 20px;
}
.hamburger{
    display: none;
}
.build:hover{
cursor: pointer;
border-bottom: 1.5px solid #475D4B;
}
.body:hover{
    border-bottom: 1.5px solid #475D4B;
}
.navicon:hover{
    cursor: pointer;
}