.fname{
    height: 50px;
    width: 450px;
    border: 1px solid #475D4B;
    margin: auto;
    margin-top: 40px;
    color: #475D4B;
}
.fname:hover{
   
    border: 2px solid #475D4B;
}
.lname{
    height: 50px;
    width: 450px;
    border: 1px solid #475D4B;
    margin: auto;
    margin-top: 20px;
    color: #475D4B;
}
.lname:hover{
   
    border: 2px solid #475D4B;
}
.name{
    height: 100%;
    width: 100%;
   
}
.signbtn{
    height: 45px;
    width: 250px;
    
    margin-top: 50px;
    border-radius: 10px;
    background-color:#475D4B;
    color: white; 
    
}
.logos{
    height: 135px;
    width: 450px;
    margin: auto;
    
    display: none;
    gap: 10px;
}
.logobox{
    height: 135px;
    width: 150px;
    
    
}
.logoimg{
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #475D4B ;
}

@media all and (max-width:683px)
{
    .logos{
        display: flex;
    }
}